/* 
.back{
    display: flex;
    flex-wrap: wrap;
   


}






.ress-card {
    text-align: center;
    background-color: #2e0808;
    border: 1px solid #4b3737;
    border-radius: 15px;
    width: 20%;
    padding: 10px;
    color: #996262;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.ress-card:hover {
    background-color: #1a0404;
    color: antiquewhite;
    transform: scale(1.01);
    cursor: pointer;
}

.ress-card h2 {
    margin-bottom: 10px; 
}

.ress-card p {
    margin-bottom: 5px;
}

.ress-card img.kep {
    width: 90%;
    border-radius: 15px;
}
.button:hover{
    border: 1px solid black;
    border-radius: 10px;
    background-color:antiquewhite;
    color: #1a0404;


} */